Options +FollowSymLinks +ExecCGI

<IfModule mod_rewrite.c>
  RewriteEngine On

  # uncomment the following line, if you are having trouble
  # getting no_script_name to work
  #RewriteBase /

  # we skip all files with .something
  #RewriteCond %{REQUEST_URI} \..+$
  #RewriteCond %{REQUEST_URI} !\.html$
  #RewriteRule .* - [L]

  # we check if the .html version is here (caching)
  RewriteRule ^$ index.html [QSA]
  RewriteRule ^([^.]+)$ $1.html [QSA]
 
  RewriteCond %{HTTP_HOST} ^admin.dev\.(.*)$
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^.*$ backend_dev.php [QSA,L]
 
  RewriteCond %{HTTP_HOST} ^admin\.(.*)$
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^.*$ backend.php [QSA,L]

  RewriteCond %{HTTP_HOST} ^dev\.(.*)$
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ frontend_dev.php [QSA,L]
  
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ frontend.php [QSA,L]
  
</IfModule>
